// Navigation code here

.top-nav {
  .transition();
  .display(center, center);
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  // border: 1px solid red;
  height: 100px;
  background: rgba(238, 238, 238, 1);
  width: 90%;
  opacity: 0.7;
  filter: alpha(opacity=50); /* For IE8 and earlier */

  @media @phone {
    // border: 1px solid blue;
    width: 100%;
  }



  h2 {
    .display();
    margin-bottom: 20px;
    @media @phone {
      margin: auto;
    }
  }
  nav {
    .display(space-evenly,center);
    margin-left: 25%;
    width: 50%;
    justify-content: space-evenly;
    align-content: center;
    @media @phone {
      width: 100%;
      margin: auto;
      margin-top: 2px;
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
    }
  }
}
